name: Mirror Sync
on:
  push:
    branches: ["master"]
  workflow_dispatch:
  schedule:
    - cron: "0 */6 * * *"
jobs:
  codeberg:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: pixta-dev/repository-mirroring-action@v1
        with:
          target_repo_url: "git@codeberg.org:devthefuture/yarn-plugin-fetch.git"
          ssh_private_key: ${{ secrets.CODEBERG_SSH_PRIVATE_KEY }}